<div class="about-main">
  <h2>LifeAppとは</h2>
  <p>心内をつぶやき、マインドリセットしましょう!</p>
  <p>右上の『つぶやく』をクリック！</p>
  <p>今の気持ちを打ち込んで、送信ボタンを押し、『名言』を獲得して目標をたて、保存しましょう</p>
  <p>＊名言は英語で表示されます。「Google翻訳」を押すと翻訳サイトにとびます</p>
</div>
