<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
      <%= @word %>
    </div>
    <%= form_tag() do %>
    <div class="form">
      <div class="form-body">
        <textarea name="content"></textarea>
        <input type="submit" value="保存">
      </div>
    </div>
    <% end %>
  </div>
</div>
