<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>
        <%= @post.content %>
      </p>
      <p>
        <%= @post.content_api %>
      </p>
      <p>
        <%= @post.content_second %>
      </p>
      <div class="post-time">
        <%= @post.updated_at %>
      </div>
    </div>
  </div>
</div>
